TopoBathyc?.nc
TopoBathyc??.nc
actual_runs/**/*.current_run
actual_runs/**/*.nc
actual_runs/**/*.h5
actual_runs/**/*.zip
actual_runs/*.zip
veros_setup/**/*.current_run
veros_setup/**/*.nc
veros_setup/**/*.h5
veros_setup/**/*.zip
veros_setup/*.zip
veros_setup/runs_4_degree
veros_setup/runs_4_degree_final
veros_setup/runs_4_degree_final_forcing
veros_setup/runs_4_degree_with_customdeep
plotting/*.png
plotting/*.jpg
plotting/*.pdf
plotting/**/notebooks/Data/*.nc